body {
    background-color: rgb(175, 175, 175);
}

.calc {
    margin: 100px auto;
    width: 400px;
    height: 620px;
    box-shadow: 0 0 70px white;
    border-radius: 10px;
}

.header {
    height: 100px;
    padding: 20px;
    background-color: white;
    text-align: right;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.account {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    text-align: right;
    color: gray;
}

.account::placeholder {
    color: gray;
}

.result {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 60px;
    text-align: right;
    margin-top: 5px;
}

.main {
    height: 500px;
    display: table;
}

.alertSafe {
    text-align: left;
    margin-top: -5px;
    margin-left: -10px;
}

.btn {
    width: 100px;
    height: 96px;
    font-size: 35px;
    color: white;
    background-image: linear-gradient(to right, rgb(156, 156, 156) 0%, rgb(126, 126, 126) 100%);
    border-radius: 5px;
    outline: none;
}

.btn:hover {
    opacity: 0.8;
}

.btnBig {
    width: 200px;
}

.btnU {
    background-image: linear-gradient(to right, rgb(110, 110, 110) 0%, rgb(70, 70, 70) 100%);
}